{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!--           Comments Area -->
          Comment
          <div>

            {{ ckeditor.load() }}
            {{ ckeditor.config(name='comment') }}


          </div>

          <div class="col-lg-8 col-md-10 mx-auto comment">
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="https://pbs.twimg.com/profile_images/744849215675838464/IH0FNIXk.jpg"/>
                    </div>
                    <div class="commentText">
                      <p>Some comment</p>
                      <span class="date sub-text">comment author name</span>
                    </div>
                </li>
              </ul>
          </div>